body{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



 nav.navbar.navbar-default.navbar-fixed-top {   
    border-bottom: none;
    background-image: linear-gradient(to bottom,#2c3e50 0,#2c3e50 100%);
    margin-bottom: 20px;
}

.navbar-header{
    margin-bottom: 30px;
}

.navbar-default .navbar-brand {
    padding-top: 30px;
    font-size: 1.9rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.navbar-collapse{
    border: none;
}

.navbar.navbar-default.navbar-fixed-top.color-primary > .container{
    padding-top: 20px;
}

.nav.navbar-nav.navbar-right{
    margin-top: 10px;
}

.navbar-toggle {
    border: none;
}



button .menu, button section.hamburger{
    
    display: inline-block;
    
}

span.menu {
    font-weight: bold;
    color: white;
}


.col-xs-6 span{
    vertical-align: middle;
    
}


.hamburger .icon-bar{
    width: 14px;
    height: 1px;
    background-color: white;   
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(255, 255, 255);
}

.navbar-default .navbar-toggle, 
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover { 
    background-color:#1abc9c ;
    border-radius: 10px;
}



.navbar-default .navbar-nav>li>a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #1abc9c;    
}

.jumbo-img{
    background-color: #1abc9c;
    position: relative;
    top: 50px;
    text-align: center;
    
}

.jumbo-img h1{
    color: white;
    font-weight: bolder;
    font-size: 3.5em;
}

.jumbo-img img{
    width: 240px;
    height: 254px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.row .col-xs-4 hr{
    border: 2px solid white;
    border-radius: 5px;
}

.col-xs-2.star{
    color: white;
    font-size: 30px;
}

.row.artist p{
    color: white;
    font-size: 1.5em;
    padding-bottom: 60px;
}

.row .col-xs-4.black hr{
    border: 2px solid #2c3e50;
    border-radius: 5px;
}

.col-xs-2.star-black{
    color: #2c3e50;
    font-size: 30px;
}

.port h1{
    margin-top: 80px;
    font-weight: bolder;
    font-size: 3em;
    color: #2c3e50;
}




.row.gallery .green-card-hover, .row.gallery img{
    width: 310px;
    height: 230px;
    border-radius: 20px;
    margin: 0 auto;    
}

.row.gallery {
    position: relative;
}

.row.gallery .green-card-hover{
    position: absolute;
    background-color: #1abc9c;
    z-index: 1;
    top: 75px;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;   
}

.col-xs-12.col-sm-6.col-lg-4 .green-card-hover:after{
    content: '+';
    font-size: 100px;
    font-weight: bolder;
    color: white;
    line-height: 230px;

    
}

.col-xs-12.col-sm-6.col-lg-4:hover .green-card-hover{
    opacity: .8;
}

.row.gallery .col-xs-12{
    margin-top: 40px;
}


.container-fluid.about{
    margin-top: 40px;
    background-color: #1abc9c;
}

.col-xs-10.col-xs-offset-1.about-txt p{
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

.row.download{
    margin-top: 30px;
    margin-bottom: 60px;
}


.row.download button{
    padding: 20px;
    font-size: 1.5em;
}

.btn-primary{
    background-color: transparent;
    background-image: linear-gradient(to bottom,#f3f3f300 0,#ffffff00 100%);
    
    border: 2px solid white;
}

.btn-primary:focus, .btn-primary:hover  {
    border: 2px solid white;
    background-color: white;
    color: #2c3e50;
}

.input-group{
    width: 100%;
    border: none;
    
}



input.form-control{
    border: none;
    border-top: none;
    padding-top: 30px;
    padding-bottom: 40px;
}

.btn-success.send{
    padding: 20px;
    font-size: 1.2em;
    background-image: linear-gradient(to bottom,#f3f3f300 0,#ffffff00 100%);
}

.btn-success{
    margin-top: 30px;
    background-color: #1abc9c;
    border: 1px solid #1abc9c;
}

.btn-success:focus, .btn-success:hover  {
    border: 1px solid #1abc9c;
    background-color: #16997f;
    
}

footer{
    margin-top: 400px;
}

footer.container-fluid{
    background-color: #2c3e50;
}

.location{
    color: white;
}

.location p{
    font-size: 1.3em
}

.social-logo{
    margin-top: 40px;
    margin-bottom: 40px;
}

.social-logo i{
    color: white;
    font-size: 20px;
    padding: 10px;
    
}
.social-logo i:before{
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
}

.margin-top{
    margin-top: 50px;
}

.copyright{
    background-color: #1d2833;
}

.copyright p{
    padding: 20px;
}